/*` Global start  */
*,
*::after,
*::before {
    font-family: 'Fira Sans', Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
    margin: 0;
}

body {
    background-color: #2d2d2d;
    overflow-x: hidden;
    color: #ffffff;
}

ul {
    list-style: none;
}

button,
input,
textarea,
select {
    border: none;
    background: none;
    color: inherit;
    font-family: inherit;
}

img {
    height: auto;
    display: block;
    max-width: 100%;
}

.hide {
    display: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

/*` Other start  */
.card {
    font-size: 10px;
}

.account {
    flex: 0 1 50%;
    margin-bottom: 20px;
}

.block {
    padding: 20px;
}

.coming {
    position: relative;
    overflow: hidden;
}

.coming::before,
.coming::after {
    content: '';
    position: absolute;
    background: #3a000070;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.coming::after {
    content: 'In Coming';
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 65px;
    font-weight: bold;
    color: rgb(182, 24, 24);
    text-shadow: 80px -200px, 21px -141px, -25px -98px, -71px -50px, -74px 53px, 42px 114px, 140px 30px, 30px 170px;
    transform: rotate(45deg);
}

.collage .mob {
    display: none;
}

/*` Slider */

.slider-arrow {
    height: 100%;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.slider-next {
    right: 10px;
}

.slider-prev {
    left: 10px;
    z-index: 1;
}

.slick-dots {
    display: flex !important;
    flex-wrap: wrap;
    max-width: 180px;
}

.slick-dots button {
    background: #464545;
    border-radius: 20px;
    margin: 0px 5px;
    min-width: 45px;
    outline: none;
}

.slick-dots .slick-active button {
    color: #464545;
    background: #eeeeee;
}

.slick-dots li {
    margin-bottom: 5px;
    flex: 0 1 33.33%;
    text-align: center;
}

.dots__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*` Menu */
.menu {
    background: #464545;
}

.menu__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu__item {
    flex: 0 1 25%;
    text-align: center;
    font-size: 18px;
    padding: 10px 12px;
    color: #eee;
    cursor: pointer
}


.menu__item.active {
    border-bottom: 1px solid #eee;
}

/*` Month start */

.year {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.year__total {
    position: absolute;
    left: 10px;
    font-size: 50px;
}

.month {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    outline: none;
    margin: 15px 0px 30px 0px;
}

.month__btns {
    display: flex;
    flex-wrap: wrap;
    width: 245px;
}

.month__btns input[type=checkbox] {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
}

.month__day-name {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.month__wrapper p {
    margin: 0;
    text-align: center;
}

.month__wrapper.active {
    box-shadow: 0px 3px 20px 3px rgba(139, 139, 139, 0.6);
}

.check-js.active {
    box-shadow: 0px 0px 10px 5px rgba(68, 68, 68, 0.6);
    z-index: 2;
}

.check-js::before {
    position: absolute;
    content: attr(data-day);
    left: 50%;
    top: 50%;
    z-index: 10;
    color: #0000002f;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.check-js:checked::before,
.check-js.active:checked::before {
    display: none;
}

/* .month__btns input.checked::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 3px;
}

.month__btns input.checked:checked::before {
    transform: scale(1.2);
    z-index: 5;
    background-color: #0075ff;
} */


/*` Charac(characteristics) */

.sublist ul {
    margin-left: 20px;
}

.sublist {
    cursor: pointer;
}

.sublist ul {
    transform-origin: top;
    transform: scaleY(0);
    max-height: 0;
    transition: all 0.3s;
}

.sublist ul.hidelist {
    max-height: 90px;
    transform: scaleY(1);
}

.sublist ul.hidelist.top__hidelist {
    max-height: 140px;
}

/* .sublist ul.showlist {
    animation: showList 300ms forwards;
} */




/*` Elements */

.elements.block {
    overflow-x: scroll;
    margin-right: 20px;
}

.elements__inner {
    max-width: 250px;
}

.elements__item {
    width: 250px;
    margin-right: 20px;
}

.elements__item label {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    cursor: pointer;
}

.elements__item input {
    min-width: 23px;
    min-height: 23px;
    cursor: pointer;
}

.elements__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 450px;
}

.low-level__list {
    width: 250px;
}

.medium-level__list {
    width: 1050px;
}

/*` Top */
.top__wrapper-account:nth-child(1) .top__account {
    background: rgba(255, 217, 0, 0.5);
}

.top__wrapper-account:nth-child(2) .top__account {
    background: rgba(192, 192, 192, 0.5);
}

.top__wrapper-account:nth-child(3) .top__account {
    background: #cd803280;
}

.top__wrapper-account {
    border-bottom: 1px solid rgb(94, 94, 94);
}

.top__account {
    font-size: 14px;
    user-select: none;
}

.top__place {
    margin: 0 5px 0 0;
    font-size: 15px;
}

.top__nick {
    font-size: 18px;
}

.top__lvl {
    background: rgba(61, 61, 61, 0.699);
    line-height: 200%;
}

.top__wrapper-account ul {
    position: relative;
    font-size: 14px;
}

.top__wrapper-account ul em {
    margin-left: 30px;
}

.drop-down-arrow {
    width: 12px;
    filter: invert(1);
    display: inline-block;
    margin: 0px 0 0 5px;
    transition: transform 500ms;
}

/* @keyframes showList {
    from {
        height: 0px;
        transform: scaleY(0);
    }

    to {
        height: 100%;
        transform: scaleY(1);
    }
}

@keyframes hideList {
    from {
        height: 100%;
        transform: scaleY(1);
    }

    to {
        height: 0px;
        transform: scaleY(0);
    }
} */

/* Media queries */

@media (max-width: 901px) {
    .menu__item {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .menu__item {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .menu__item {
        font-size: 10px;
    }
}

@media (max-width: 426px) {
    .collage .mob {
        display: block;
    }

    .collage .pc {
        display: none;
    }
}

@media (max-width: 500px) {
    .top__nick {
        font-size: 13px;
    }

    .top__account,
    .top__place {
        font-size: 10px;
    }

    .top__wrapper-account ul {
        font-size: 12px;
    }

    .elements__item {
        font-size: 12px;
        max-width: 190px;
    }

    input.elements__check {
        min-width: 18px;
        min-height: 18px;
    }

    .elements__list {
        max-height: 330px;
    }

    .elements__item label {
        max-width: 190px;
    }

    .elements__inner {
        max-width: 190px;
        font-size: 12px;
    }

    .low-level__list {
        width: 220px;
    }

    .medium-level__list {
        width: 850px;
    }

    .elements__column h3, .charac h3 {
        font-size: 1.4em;
    }
    .charac li {
        font-size: 11.5px;
    }
}
